= form_for @event do |f|
  -if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nama
    = f.text_area :nama
  .field
    = f.label :lokasi
    = f.text_area :lokasi
  .field
    = f.label :kategori_id
    = f.text_field :kategori_id
  .field
    = f.label :waktu_id
    = f.text_field :waktu_id
  .field
    = f.label :deskripsi_pendek
    = f.text_area :deskripsi_pendek
  .field
    = f.label :deskripsi
    = f.text_area :deskripsi
  .actions
    = f.submit 'Save'
