
- eventCount = 1
- @events.each do |event|
  .row.add-bottom.event_count{ :class =>"event_count_#{eventCount}", :event_count => eventCount}
    
    .span12
      .row
        .span6
          = image_tag event.cover_image.url, :class => "image"
        .span6.event_details{ :id =>"event_details_#{eventCount}"}
          .row
            %h1.add-bottom 
              %a{:href=> event_path(event)}
                = event.nama
          .row
            .span6.text-right.category-bar
              - event.categories.each do |key, value|
                .category-bar-item{:class => key.name, :title => key.name}
                  &nbsp;
          .row
            .description
              - event.event_times.each do |event_time|
                = event_time.start.to_s(:short) << " - "
                = event_time.end.to_s(:short)
                %br
              = raw event.deskripsi_pendek
          .row
            .span6.text-right
              %a{:href=> event_path(event), :class=>"btn btn-large btn-primary"}
                See Details
    
  - unless event == @events.last
    %hr

    - content_for :javascript_bottom do
      :javascript
        $(window).load(function() {
            var limit_offset = $('.event_count_#{eventCount+1}').offset().top - $('#event_details_#{eventCount}').height() - 30 
            
            $('#event_details_#{eventCount}').scrollToFixed({marginTop:70, limit: limit_offset})
           
        });
  - else
    - content_for :javascript_bottom do
      :javascript
        $(document).ready(function() { 
          var limit_offset = $('.row-bottom').offset().top - $('#event_details_#{eventCount}').height() - 30 
          $('#event_details_#{eventCount}').scrollToFixed({marginTop:70,limit: limit_offset});
        });

  - eventCount += 1