%h1.add-bottom Today Event
.row.add-bottom
  .span2
    %a{:href => @prevDateLink}
      %i.icon-chevron-left
      Previous Date
  .span2.offset8
    %a{:href => @nextDateLink}
      Next Date
      %i.icon-chevron-right
%hr.add-bottom

- if not @events.empty?
  - @events.each do |event|
    .row.add-bottom
      .span12
        .row
          .span6
            = image_tag event.cover_image.url(:medium), :class => "image"
          .span6
            .row
              %h1.add-bottom.today-title
                %a{:href=> event_path(event)} 
                  = event.nama
            .row
              .span6.text-right.category-bar
                - event.categories.each do |key, value|
                  .category-bar-item{:class => key.name, :title => key.name}
                    &nbsp;
                %h2.span2.offset2.text-left
                  = event.joins.count
                  Join
            .row.add-bottom
              .description
                - event.event_times.each do |event_time|
                  = event_time.start.to_s(:short) << " - "
                  = event_time.end.to_s(:short)
                  %br
                = raw event.deskripsi_pendek
            .row
              .span2
                %a{:href=> join_path(event), :class=>"btn btn-large btn-info"}
                  Join Event
              .span2.offset1.text-right
                %a{:href=> event_path(event), :class=>"btn btn-large btn-primary"}
                  See Details
    - unless event == @events.last
      %hr
- else
  %h1 
    Tidak ada event pada hari ini. Beri Kami 
    %a{:href => new_feedback_path}
      %span.link
        Tips.