<!DOCTYPE html>
<html>
<head>
  <title>Klikevent</title>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : 'YOUR_APP_ID', // App ID
        channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
  </script>


       <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <%= link_to "Klikevent", root_path, :class=>"brand" %>

                <span class="divider"></span>
      
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="add-border-left ">
                          <a href="#" title="View the Hottest Event around!"><i class="icon-home icon-white "></i>Hot Event</a></li>
                        <li class="add-border-left "><a href="/hot" >Today's Event</a></li>
                        <li class="add-border-left  "><a id="nav" href="#" title="Got information regarding events? Contact Us!" >Tips &amp; Feedback</a></li>
                        <li class="add-border-left add-border-right "><%= link_to "Subscribe", new_subscriber_path, :id => "nav", :titile=>"Subscribe to Us!"%></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown ">
                          <% if user_signed_in? %>
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%= image_tag(current_user.image, :size => "40x40")%> <%= current_user.name %>
                            <b class=" caret caret-custom"></b>
                          </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>    </li>
                            </ul>
           
     <% else %>
     <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
     <% end %>
                            
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

    <div class="container main-container ">
        <div class="row add-min-height">
      <% if flash[:success] %><div class="alert alert-success"><button class="close" data-dismiss="alert">×</button><%= flash[:success] %></div><% end %>
      <% if notice %><div class="alert"><button class="close" data-dismiss="alert">×</button><%= notice %></div><% end %>
      <% if alert %><div class="alert"><button class="close" data-dismiss="alert">×</button><%= alert %></div> <% end %>
<%= yield %>
      
        </div>
          <hr/>
      <div class="row text-left">
          <div class="span3">
              <p><strong>Categories</strong><p>
              <a href="#"><p>Paid</p></a>
              <a href="#"><p>Free</p></a>
              <a href="#"><p>Day</p></a>
              <a href="#"><p>Night</p></a>
              <a href="#"><p>Art &amp; Hobbies</p></a>
              <a href="#"><p>Exhibition</p></a>
              <a href="#"><p>Education</p></a>
              <a href="#"><p>Others</p></a>
          </div>
          <div class="span3">
              <p><strong>About</strong><p>
              <a href="#"><p>About</p></a>
              <a href="#"><p>Contact Us</p></a>
              <p>Terms and Condition</p>
          </div>
          <div class="span3">
              <p><strong>Newsletter</strong><p>
                <form accept-charset="UTF-8" action="/subscribers" class="new_subscriber" id="new_subscriber" method="post">
                  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="VxHXTiTacECEpDffCvPuJSd0npdcXfqvbF7irKgj3EU="></div>

                    <div class="field">
                      <p><input type="text" id="input01" name="subscriber[email]" placeholder="Your Email here" class=""></p>
                    </div>
                    <div class="actions">
                      <input name="commit" class="btn-small btn-primary" type="submit" value="Subscribe">
                    </div>
                  </form>

          </div>
          <div class="span3 ">
              <p><strong>Follow Us!</strong><p>
              <p class="">
                  <a href="https://twitter.com/KlikeventID" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @KlikEventID</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                  </script>
              </p>

              <p class="">
                  <div class="fb-like" data-href="http://www.facebook.com/KlikEvent" data-send="true" data-width="220" data-show-faces="false"></div>
              </p>
          </div>
      </div>
      <hr/>
      <div class="section partners">
          <strong>Partners</strong>
      </div>

    </div>

</body>
</html>
